@font-face {
    font-family: 'HankenGrotesk';
    src: url('summary/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

html {
    height: 100vh;
    width: 100vw;
    font-family: 'HankenGrotesk';
    color: #FFF
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.container {
    width: 736px;
    height: 512px;
    flex-shrink: 0;
    display: flex;
}

.left_container {
    width: 368px;
    height: 512px;
    flex-shrink: 0;
    border-radius: 32px;
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.result {
    margin-top: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #CAC9FF;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score {
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
}

.under_score {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #CAC9FF;
    position: absolute;
    bottom: 15px;
}

.comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.note {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.note_bis {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #CAC9FF;
}

.right_container {
    width: 368px;
    height: 512px;
    /* background-color: #cddb4f; */
    border-radius: 32px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.summary {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #303B59;
}

.scores {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.capability {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.icone_name {
    display: flex;
    width: 30%;
}

.icone_name p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reaction .icone_name>p {
    color: #F55;
}

.memory .icone_name>p {
    color: #FFB21E;
}

.verbal .icone_name>p {
    color: #00BB8F;
}

.visual .icone_name>p {
    color: #1125D6;
}

.icone_name p {
    margin-left: 20px;
}

.highlighted {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #303B59;
}

.score_over_100>span:nth-child(2) {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #9e9e9e;
    opacity: 0.5;
}

.button {
    width: 288px;
    height: 56px;
    border-radius: 128px;
    background-color: #303B59;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50px;
}